.query-form-box{
    border-bottom: 1px solid #e8e8e8;
    padding:10px 10px 0 10px;
    margin-bottom:15px;
}

.query-form-box .el-form-item{
    width:28%;
    margin-bottom: 10px;
}

.query-form-box .el-form-item__label{
    font-weight: 400;
    font-size: 14px;
}

.query-form-box .form-btns{
    width:auto;
    float:right;
}